---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <div class="row">
    <div class="col-md-1 hidden-sm hidden-xs">
      <i class="main-icon fa fa-anchor"></i>
    </div>
    <div class="col-md-11">
      <p>
        Hello! I'm Stewart Duffy, a{" "}
        <strong>Front-End Developer</strong> who makes websites and apps. I
        mostly trade in the trifecta of HTML5, CSS3 &amp; JavaScript, but like
        any self-respecting digital worker I utilise an array of other tools
        &amp; tech to get the job done..
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-1 hidden-sm hidden-xs">
      <i class="main-icon fa fa-bullhorn"></i>
    </div>
    <div class="col-md-11">
      <p>
        I have been working in the industry for over six years; working on a
        variety of projects either through freelancing, contracting or permanent
        employment. With agency, startup &amp; client-side experience I have
        worked on projects in multiple industries including Education, Retail,
        Telecommunications, Print Media, Government and Advertising.
      </p>
    </div>
  </div>
</Layout>
