---

---

<div class="nav-container">
  <div class="nav-container-inner">
    <nav class="pull-left hidden-xs">
      <a class="nav-icon" href="http://nz.linkedin.com/in/stewartduffy/en">
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <a class="nav-icon" href="http://github.com/stewartduffy">
        <i class="fa-brands fa-github"></i>
      </a>
      <a class="nav-icon" href="https://open.spotify.com/user/1143680138">
        <i class="fa-brands fa-spotify"></i>
      </a>
    </nav>
    <nav class="pull-right hidden-xs">
      <a class="nav-item" href="#contact"> contact</a>
    </nav>
  </div>
</div>

<style>
  .nav-container {
    background: #323232;
    height: 53px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .nav-container-inner {
    width: 1170px;
    display: flex;
    justify-content: space-between;
    margin: auto;
  }

  .nav-container nav {
    height: 53px;
    color: #fff;
  }
  .nav-container nav a:hover,
  .nav-container nav a.active {
    color: #657e6c;
  }
  .nav-container nav .nav-item {
    color: #fff;
    font-size: 22px;
    font-family: "Andada Pro Variable", sans-serif;
    line-height: 53px;
  }
  .nav-container nav .nav-icon {
    height: 53px;
  }
  .nav-container nav .nav-icon i {
    color: #fff;
    font-size: 22px;
    font-size: 26px;
    line-height: 53px;
  }
  .nav-container nav .nav-icon:hover i {
    color: #657e6c;
  }
</style>
